<body>
  <div class="projects-container">
    <project-tile></project-tile>
      <!-- <div class="triangle-row">
        <span class="stackable triangle down"></span>
        <span class="stackable triangle up"></span>
        <span class="stackable triangle down alt" style="left: 100px"></span>
        <span class="stackable triangle up alt" style="left: 100px"></span>
        <span class="stackable triangle down" style="left: 200px"></span>
        <span class="stackable triangle up" style="left: 200px"></span>
        <span class="stackable triangle down alt"  style="left: 300px"></span>
        <span class="stackable triangle up alt"  style="left: 300px"></span>
        <span class="stackable triangle down"  style="left: 400px"></span>
        <span class="stackable triangle up"  style="left: 400px"></span>
        <span class="stackable triangle down alt"  style="left: 500px"></span>
        <span class="stackable triangle up alt"  style="left: 500px"></span>
        <span class="stackable triangle down"  style="left: 600px"></span>
        <span class="stackable triangle up"  style="left: 600px"></span>
      </div>
      <div class="triangle-row" style="top: 100px">
        <span class="stackable triangle down"></span>
        <span class="stackable triangle up"></span>
        <span class="stackable triangle down alt" style="left: 100px"></span>
        <span class="stackable triangle up alt" style="left: 100px"></span>
        <span class="stackable triangle down" style="left: 200px"></span>
        <span class="stackable triangle up animate" style="left: 200px"></span>
        <span class="stackable triangle down alt"  style="left: 300px"></span>
        <span class="stackable triangle up alt disappear"  style="left: 300px; animation-delay: 1s"></span>
        <span class="stackable triangle down"  style="left: 400px"></span>
        <span class="stackable triangle up"  style="left: 400px"></span>
        <span class="stackable triangle down alt"  style="left: 500px"></span>
        <span class="stackable triangle up alt disappear"  style="left: 500px;  animation-delay: 4s"></span>
        <span class="stackable triangle down"  style="left: 600px"></span>
        <span class="stackable triangle up"  style="left: 600px"></span>
      </div>
      <div class="triangle-row" style="top: 200px">
        <span class="stackable triangle down"></span>
        <span class="stackable triangle up"></span>
        <span class="stackable triangle down alt" style="left: 100px"></span>
        <span class="stackable triangle up alt" style="left: 100px"></span>
        <span class="stackable triangle down" style="left: 200px"></span>
        <span class="stackable triangle up" style="left: 200px"></span>
        <span class="stackable triangle down alt"  style="left: 300px"></span>
        <span class="stackable triangle up alt disappear"  style="left: 300px; animation-delay: 2s"></span>
        <span class="stackable triangle down"  style="left: 400px"></span>
        <span class="stackable triangle up"  style="left: 400px"></span>
        <span class="stackable triangle down alt"  style="left: 500px"></span>
        <span class="stackable triangle up alt disappear"  style="left: 500px; animation-delay: .5s"></span>
        <span class="stackable triangle down"  style="left: 600px"></span>
        <span class="stackable triangle up"  style="left: 600px"></span>
      </div>
      <div class="triangle-row" style="top: 300px">
        <span class="stackable triangle down"></span>
        <span class="stackable triangle up"></span>
        <span class="stackable triangle down alt" style="left: 100px"></span>
        <span class="stackable triangle up alt disappear" style="left: 100px; animation-delay: .9s"></span>
        <span class="stackable triangle down" style="left: 200px"></span>
        <span class="stackable triangle up" style="left: 200px"></span>
        <span class="stackable triangle down alt"  style="left: 300px"></span>
        <span class="stackable triangle up alt"  style="left: 300px"></span>
        <span class="stackable triangle down"  style="left: 400px"></span>
        <span class="stackable triangle up"  style="left: 400px"></span>
        <span class="stackable triangle down alt disappear"  style="left: 500px; animation-delay: .3s"></span>
        <span class="stackable triangle up alt"  style="left: 500px"></span>
        <span class="stackable triangle down"  style="left: 600px"></span>
        <span class="stackable triangle up"  style="left: 600px"></span>
      </div> -->
  </div>
</body>